<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.lingnan.dao.TestMapper">
  
  <select id="selectTest" resultType="cn.edu.lingnan.pojo.Test">
  	select * from test
  </select>

</mapper>